<ion-header>
  <ion-toolbar color="danger">
    <ion-title>Accueil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="spacer-top ">
    <ion-button class="btn-height" expand="block" fill="outline" color="danger" (click)="onClickRdv()" ><h2>Rendez-Vous</h2></ion-button>
  </ion-card>
  <ion-card >
    <ion-button class="btn-height" expand="block" fill="outline" color="danger" (click)="onClickListRdv()"><h2>Liste Rendez-Vous</h2></ion-button>
  </ion-card>

</ion-content>
